@model IEnumerable<WebApp.ViewModels.ItemOwnershipCreateEditViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Views.ItemOwnerships.Index.Index.ItemOwnerships</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser!.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company!.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item!.Description)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Shared.Common.Edit</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
