@model WebApp.ViewModels.BookingsCreateEditViewModel

<h4>Booking</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingStartDay)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingStartDay)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingEndDay)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingEndDay)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingPeriodDays)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingPeriodDays)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PricePerDay)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PricePerDay)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VatPercent)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VatPercent)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Vat)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Vat)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingWithoutVat)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingWithoutVat)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BookingTotal)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BookingTotal)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ItemId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ItemId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ItemOwnerId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ItemOwnerId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RenterId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RenterId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ItemOwnerCompanyId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ItemOwnerCompanyId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RenterCompanyId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RenterCompanyId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InvoiceId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.InvoiceId)
    </dd>
    

</dl>